In [1]:
import pandas as pd
import numpy as np

In [2]:
main = pd.read_csv('./data/click_stream3.csv', names = ['id', 'page', 'date', 'device', 'sex'], \
                   dtype = {'id': int, 'page': str, 'sex': str}, parse_dates = ['date'], infer_datetime_format = True)

In [3]:
main.head()

       id         page       date   device     sex
0  313593  1_home_page 2015-02-26  Desktop  Female
1  468315  1_home_page 2015-02-21  Desktop    Male
2  264005  1_home_page 2015-03-25  Desktop  Female
3  290784  1_home_page 2015-03-14  Desktop    Male
4  639104  1_home_page 2015-01-03  Desktop  Female

In [4]:
# В разрезе пола и устройства
grouped_all_df = main.groupby([pd.Grouper(key='date', freq='m'), 'page', 'device', 'sex']).id.count()
grouped_all_df.head(16)

date        page                         device   sex
2015-01-31  1_home_page                  Desktop  Female    7546
                                                  Male      7504
                                         Mobile   Female    3868
                                                  Male      3682
            2_search_page                Desktop  Female    3851
                                                  Male      3678
                                         Mobile   Female    3062
                                                  Male      2963
            3_payment_page               Desktop  Female     625
                                                  Male       596
                                         Mobile   Female     618
                                                  Male       551
            4_payment_confirmation_page  Desktop  Female      33
                                                  Male        27
                                         Mobile   Female      76
                                                  Male        53
Name: id, dtype: int64

In [5]:
pd.options.display.max_rows = 64

In [6]:
result_df = grouped_all_df.reset_index()
funnels_result = []

for i in grouped_all_df.reset_index().date.unique():
   
    funnels = np.where(grouped_all_df.xs(i).reset_index().device == 'Desktop', \
                       np.where(grouped_all_df.xs(i).reset_index().sex == 'Female', \
                               grouped_all_df.xs(i).values[12] / grouped_all_df.xs(i).values,
                               grouped_all_df.xs(i).values[13] / grouped_all_df.xs(i).values),
                       np.where(grouped_all_df.xs(i).reset_index().sex == 'Female', \
                               grouped_all_df.xs(i).values[14] / grouped_all_df.xs(i).values,
                               grouped_all_df.xs(i).values[15] / grouped_all_df.xs(i).values))
                       
    funnels_result.extend(funnels)

result_df['funnels'] = funnels_result
result_df.head(64)

         date                         page   device     sex    id   funnels
0  2015-01-31                  1_home_page  Desktop  Female  7546  0.004373
1  2015-01-31                  1_home_page  Desktop    Male  7504  0.003598
2  2015-01-31                  1_home_page   Mobile  Female  3868  0.019648
3  2015-01-31                  1_home_page   Mobile    Male  3682  0.014394
4  2015-01-31                2_search_page  Desktop  Female  3851  0.008569
5  2015-01-31                2_search_page  Desktop    Male  3678  0.007341
6  2015-01-31                2_search_page   Mobile  Female  3062  0.024820
7  2015-01-31                2_search_page   Mobile    Male  2963  0.017887
8  2015-01-31               3_payment_page  Desktop  Female   625  0.052800
9  2015-01-31               3_payment_page  Desktop    Male   596  0.045302
10 2015-01-31               3_payment_page   Mobile  Female   618  0.122977
11 2015-01-31               3_payment_page   Mobile    Male   551  0.096189
12 2015-01-31  4_payment_confirmation_page  Desktop  Female    33  1.000000
13 2015-01-31  4_payment_confirmation_page  Desktop    Male    27  1.000000
14 2015-01-31  4_payment_confirmation_page   Mobile  Female    76  1.000000
15 2015-01-31  4_payment_confirmation_page   Mobile    Male    53  1.000000
16 2015-02-28                  1_home_page  Desktop  Female  7448  0.003491
17 2015-02-28                  1_home_page  Desktop    Male  7602  0.003683
18 2015-02-28                  1_home_page   Mobile  Female  3751  0.015996
19 2015-02-28                  1_home_page   Mobile    Male  3799  0.015530
20 2015-02-28                2_search_page  Desktop  Female  3800  0.006842
21 2015-02-28                2_search_page  Desktop    Male  3832  0.007307
22 2015-02-28                2_search_page   Mobile  Female  3020  0.019868
23 2015-02-28                2_search_page   Mobile    Male  3035  0.019440
24 2015-02-28               3_payment_page  Desktop  Female   605  0.042975
25 2015-02-28               3_payment_page  Desktop    Male   586  0.047782
26 2015-02-28               3_payment_page   Mobile  Female   630  0.095238
27 2015-02-28               3_payment_page   Mobile    Male   591  0.099831
28 2015-02-28  4_payment_confirmation_page  Desktop  Female    26  1.000000
29 2015-02-28  4_payment_confirmation_page  Desktop    Male    28  1.000000
30 2015-02-28  4_payment_confirmation_page   Mobile  Female    60  1.000000
31 2015-02-28  4_payment_confirmation_page   Mobile    Male    59  1.000000
32 2015-03-31                  1_home_page  Desktop  Female  7512  0.000799
33 2015-03-31                  1_home_page  Desktop    Male  7538  0.001061
34 2015-03-31                  1_home_page   Mobile  Female  3738  0.005350
35 2015-03-31                  1_home_page   Mobile    Male  3812  0.002623
36 2015-03-31                2_search_page  Desktop  Female  3707  0.001619
37 2015-03-31                2_search_page  Desktop    Male  3663  0.002184
38 2015-03-31                2_search_page   Mobile  Female   747  0.026774
39 2015-03-31                2_search_page   Mobile    Male   762  0.013123
40 2015-03-31               3_payment_page  Desktop  Female   162  0.037037
41 2015-03-31               3_payment_page  Desktop    Male   134  0.059701
42 2015-03-31               3_payment_page   Mobile  Female   175  0.114286
43 2015-03-31               3_payment_page   Mobile    Male   160  0.062500
44 2015-03-31  4_payment_confirmation_page  Desktop  Female     6  1.000000
45 2015-03-31  4_payment_confirmation_page  Desktop    Male     8  1.000000
46 2015-03-31  4_payment_confirmation_page   Mobile  Female    20  1.000000
47 2015-03-31  4_payment_confirmation_page   Mobile    Male    10  1.000000
48 2015-04-30                  1_home_page  Desktop  Female  7491  0.001201
49 2015-04-30                  1_home_page  Desktop    Male  7559  0.001720
50 2015-04-30                  1_home_page   Mobile  Female  3721  0.002956
51 2015-04-30                  1_home_page   Mobile    Male  3829  0.003395
52 2015-04-30                2_search_page  Desktop  Female  3733  0.002411
53 2015-04-30                2_search_page  Desktop    Male  3836  0.003389
54 2015-04-30                2_search_page   Mobile  Female   756  0.014550
55 2015-04-30                2_search_page   Mobile    Male   755  0.017219
56 2015-04-30               3_payment_page  Desktop  Female   138  0.065217
57 2015-04-30               3_payment_page  Desktop    Male   164  0.079268
58 2015-04-30               3_payment_page   Mobile  Female   147  0.074830
59 2015-04-30               3_payment_page   Mobile    Male   148  0.087838
60 2015-04-30  4_payment_confirmation_page  Desktop  Female     9  1.000000
61 2015-04-30  4_payment_confirmation_page  Desktop    Male    13  1.000000
62 2015-04-30  4_payment_confirmation_page   Mobile  Female    11  1.000000
63 2015-04-30  4_payment_confirmation_page   Mobile    Male    13  1.000000

Выводы:

1. В январе конверсия с женских аккаунтов была со всех страниц выше, чем у мужчин.
2. В апреле конверсия женских аккаунтов со всех страниц стала ниже, чем у мужчин.
3. В феврале и марте конверсия с мобильных устройств и женских аккаунтов выше, чем у мужчин на мобилках, зато конверсия на десктопах у мужчин выше, чем у женщин. Исключение - февраль 3_payment_page.
4. Конверсия с мобильных устройств всегда выше, чем с настольных.